
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查询页面</title>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-offset-4 col-sm-5">
		<h3>目前只支持通过ID查询</h3>
</div>
<div class="col-md-offset-4 col-sm-6">
		<h3>请输入查询条件：</h3>
</div>
<form class="form-horizontal" action="/user/selectById" method="get">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-offset-2 col-sm-2 control-label">ID</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputEmail3"  name="user.id" placeholder="id">
      <h4 ><font color="#FF0000">#(IDMsg??)</font></h4>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-offset-4 col-sm-3">
  			<button  type="submit" class="btn btn-primary">立即查询 </button>
    		<a href="/user"><button type="button" class="btn btn-primary">返回 </button></a>
    	</div>
   </div>
</form>
    	
   		



  
 

</body>
</html>